[submodule "modules/libMicroPy_JSONForms"]
	path = modules/libMicroPy_JSONForms
	url = https://github.com/gentijo/libMicroPy_JSONForms.git

[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git

[submodule "components/micro_ros_espidf_component"]
	path = components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git

[submodule "components/jpegdec"]
	path = components/jpegdec
	url = https://github.com/bitbank2/JPEGDEC.git
[submodule "modules/micropython-camera-API"]
	path = modules/micropython-camera-API
	url = https://github.com/cnadler86/micropython-camera-API.git
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
