
[submodule "micropython"]
	path = micropython
	url = https://github.com/gentijo/micropython.git
[submodule "components/jpegdec"]
	path = components/jpegdec
	url = https://github.com/bitbank2/JPEGDEC.git
