
#
# micro-ROS Settings
#
CONFIG_MICRO_ROS_ESP_XRCE_DDS_MIDDLEWARE=y
# CONFIG_MICRO_ROS_ESP_EMBEDDEDRTPS_MIDDLEWARE is not set
CONFIG_MICRO_ROS_ESP_NETIF_WLAN=y
# CONFIG_MICRO_ROS_ESP_NETIF_ENET is not set
# CONFIG_MICRO_ROS_ESP_UART_TRANSPORT is not set

#
# WiFi Configuration
#
CONFIG_ESP_WIFI_SSID="rosnet"
CONFIG_ESP_WIFI_PASSWORD="MicroROSNet"
CONFIG_ESP_MAXIMUM_RETRY=5
# end of WiFi Configuration

CONFIG_MICRO_ROS_AGENT_IP="192.168.8.100"
CONFIG_MICRO_ROS_AGENT_PORT="8888"

# end of micro-ROS Settings


