OV7670_SUPPORT=y
OV7725_SUPPORT=y
NT99141_SUPPORT=y
OV2640_SUPPORT=y
OV3660_SUPPORT=y
OV5640_SUPPORT=y
GC2145_SUPPORT=y
GC032A_SUPPORT=y
GC0308_SUPPORT=y
BF3005_SUPPORT=y
BF20A6_SUPPORT=y
SC101IOT_SUPPORT=n 
SC101_REGS_SELECT=SC101IOT_720P_15FPS_ENABLED
SC030IOT_SUPPORT=y
SC031GS_SUPPORT=n
SCCB_HARDWARE_I2C_PORT=SCCB_HARDWARE_I2C_PORT1
SCCB_CLK_FREQ=20000
GC_SENSOR_WINDOW_MODE=GC_SENSOR_SUBSAMPLE_MODE
CAMERA_TASK_STACK_SIZE=2048
CAMERA_TASK_PINNED_TO_CORE=CAMERA_CORE0
CONFIG_CAMERA_DMA_BUFFER_SIZE_MAX=16356
CAMERA_CONVERTER_ENABLED=n
CAMERA_CONV_PROTOCOL=LCD_CAM_CONV_BT601_ENABLED
LCD_CAM_CONV_FULL_RANGE_ENABLED=y
LCD_CAM_ISR_IRAM_SAFE=n

